{% extends 'unistay/base.html' %}

{% load static %}

{% block title %}About Us{% endblock title %}

{% block content %}

    <main>
      <section class="section-hero" id="section-hero-about">

        <div class="hero">
          <div class="hero-text-box" id="about-us-hero-text">
            <h1 class="heading-primary" >About Us</h1>
            <h3 class="heading-primary" id="about-us-head-desc">We help students find the most suitable accomodation in Glasgow </h3>
          </div>
        </div>

      </section>

      <div class="container-fluid about-us-main">
        <div class="about-box">
          <div class="about-title-box container">
            MISSION
          </div>
        </div>
        <div class="about-desc-box container-fluid">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi elit, interdum non iaculis vel, feugiat ut massa. In nec finibus dui, in egestas leo. Vivamus feugiat consectetur mauris eu dignissim. Sed in odio a magna placerat dictum non ac lacus. Cras at sapien ut risus finibus rutrum quis nec risus. Sed semper, dui vitae scelerisque tempus, dolor est semper nisi, id suscipit ipsum nunc vel enim. Ut interdum mauris ut libero posuere, at iaculis ipsum porttitor. Suspendisse felis lacus, congue sed erat eu, porta commodo tellus.

        </div>
      </div>

      <div class="container-fluid about-us-main">
        <div class="about-box">
          <div class="about-title-box container">
            BUSINESS RELATIONS
          </div>
        </div>
        <div class="about-desc-box container-fluid">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi elit, interdum non iaculis vel, feugiat ut massa. In nec finibus dui, in egestas leo. Vivamus feugiat consectetur mauris eu dignissim. Sed in odio a magna placerat dictum non ac lacus. Cras at sapien ut risus finibus rutrum quis nec risus. Sed semper, dui vitae scelerisque tempus, dolor est semper nisi, id suscipit ipsum nunc vel enim. Ut interdum mauris ut libero posuere, at iaculis ipsum porttitor. Suspendisse felis lacus, congue sed erat eu, porta commodo tellus.

        </div>
      </div>

      <div class="container-fluid about-us-main">
        <div class="about-box">
          <div class="about-title-box container">
            RESOURCES
          </div>
        </div>
        <div class="about-desc-box container-fluid">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi elit, interdum non iaculis vel, feugiat ut massa. In nec finibus dui, in egestas leo. Vivamus feugiat consectetur mauris eu dignissim. Sed in odio a magna placerat dictum non ac lacus. Cras at sapien ut risus finibus rutrum quis nec risus. Sed semper, dui vitae scelerisque tempus, dolor est semper nisi, id suscipit ipsum nunc vel enim. Ut interdum mauris ut libero posuere, at iaculis ipsum porttitor. Suspendisse felis lacus, congue sed erat eu, porta commodo tellus.

        </div>
      </div>
      <div>
        <a class="btn btn-primary" id="about-btn" href="{% url 'contact_us' %}" role="button">Contact Us</a>
      </div>
    </main>
  
{% endblock content %}
