{% extends 'unistay/base.html' %}

{% load static %}

{% block content %}


    <main>
    <div class="container-fluid seperator"></div>

    <div class="row contact-top" id="faq-left">
        <div class="container-fluid centerer">
            <h1 class="heading-primary" id="business-name">
                Placeholder Business Name
              </h1>
        </div>
      </div>

      <div class="table-div">
        <table class="table table-striped accom-table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Accomodation Name</th>
                <th scope="col">Address</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Bedrooms</th>
                <th scope="col">Bathroom Type</th>
                <th scope="col">Review Average</th>
                <th scope="col">Operations</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Havannah House</td>
                <td>18 Havannah Street, Glasgow</td>
                <td>Studio</td>
                <td>£190/w</td>
                <td>1</td>
                <td>Ensuite</td>
                <td>4.6</td>
                <td><div class="operation-div">
                    <button class="operation-button">Edit</button>
                    <button class="operation-button">Delete</button>
                </div></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Havannah House</td>
                <td>18 Havannah Street, Glasgow</td>
                <td>Studio</td>
                <td>£190/w</td>
                <td>1</td>
                <td>Ensuite</td>
                <td>4.6</td>
                <td><div class="operation-div">
                    <button class="operation-button">Edit</button>
                    <button class="operation-button">Delete</button>
                </div></td>
                <tr>
                    <th scope="row">1</th>
                    <td>Havannah House</td>
                    <td>18 Havannah Street, Glasgow</td>
                    <td>Studio</td>
                    <td>£190/w</td>
                    <td>1</td>
                    <td>Ensuite</td>
                    <td>4.6</td>
                    <td><div class="operation-div">
                        <button class="operation-button">Edit</button>
                        <button class="operation-button">Delete</button>
                    </div></td>
            </tbody>
          </table>
          
          <div class="container-fluid save-div">
            <button type="button" class="btn btn-primary save-button">Save Changes</button>
          </div>
      </div>




      </main>
      <div class="container-fluid seperator"></div>
      {% endblock content %}